<%show_in_main ||= false %>
<div id="<%= dom_id flower %>" class="mt-6" style="display: flex; flex-direction: column; height: 100%;">
  <div class="max-w-sm p-6 bg-blue-900   rounded-lg">
    <a href="#">
      <h5 class=" mb-2 text-2xl font-bold tracking-tight text-white"><%= flower.name %></h5>
    </a>
    <%= image_tag(flower.image,  alt: "#{flower.name} image", class: "rounded-lg h-80 object-cover", style: "width: 100%;") %>
    <p class="mb-3 font-normal text-gray-400 mt-3"><%= flower.description %></p>
    <div class="flex justify-between items-center">
      <div class="text-sm text-gray-600">
        <span class="font-semibold text-white">Stock: <%= flower.stock %> </span>
      </div>
      <div class="text-sm text-white font-semibold">
        <%= flower.price %>₴
      </div>
    </div>
    <% if show_in_main %>
      <a href="/flowers/<%= flower.id %>" class="mt-4 inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300">
        Show More
        <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
        </svg>
      </a>
  <% else %>
      <label for="amount">Amount To Buy:</label>
      <%= number_field_tag :amount, 1, min: 1, max: @flower.stock, required: true, class: "amount-field border rounded-lg   block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500", data: { behavior: 'set-amount' } %>
    <% end %>
  </div>

</div>

