<div id="<%= dom_id flower %>">
  <p>
    <strong>Imageurl:</strong>
    <%= flower.imageUrl %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= flower.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= flower.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= flower.price %>
  </p>

  <p>
    <strong>Stock:</strong>
    <%= flower.stock %>
  </p>

</div>
