<!--<p style="color: green"><%#= notice %></p>-->

<% content_for :title, "Flowers" %>

<h1>Flowers </h1>

<div id="flowers">
  <% @flowers.each do |flower| %>
    <%= render flower %>
    <p>
      <%= link_to "Show this flower", flower %>
    </p>
  <% end %>
</div>

<br/>
<% if user_signed_in? %>
  <p>Welcome, <%= current_user.first_name %> <%= current_user.last_name %>!</p>
  <!-- or simply use current_user.username if you prefer that -->
  <%= button_to 'Log Out', destroy_user_session_path, method: :delete, class: 'btn btn-danger' %>
  <br/>
  <br/>
  <br/>

<% else %>
    <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary' %>
  <br/>
  <br/>
  <br/>
    <%= link_to 'Log In', new_user_session_path, class: 'btn btn-success' %>
  <br/>

<% end %>

<br/>

<%= link_to "New flower", new_flower_path %>
