<div class="flex items-center justify-center mt-10">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0 max-w-4xl w-full">
    <a href="#" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
      <img class="w-8 h-8 mr-2" src="/lavender.png" alt="logo">
      <p class="text-white">FlowerStore</p>
    </a>
    <div class="w-full rounded-lg shadow  md:mt-0 sm:max-w-md xl:p-0 bg-gray-800">
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl text-white">
          Sign in to your account
          <%= render partial: "shared/notifications", locals: {message: flash[:alert], type: "alert"} %>
          <%= flash[:alert] %>
        </h1>
        <%= form_for(resource, as: resource_name, class: "space-y-4 md:space-y-6", url: session_path(resource_name), data: { turbo: false }) do |f| %>
          <div class="field mb-5">
            <%= f.label :email, class: "block mb-2 text-sm font-medium text-gray-900 text-white"%>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: " border rounded-lg   block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500", placeholder: "your@email.com", required: true %>
          </div>

          <div class="field">
            <%= f.label :password, class: "block mb-2 text-sm font-medium text-gray-900 text-white"%>
            <%= f.password_field :password, autocomplete: "current-password", placeholder: "••••••••", class: "border rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500", required: true %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="field">
              <div class="flex items-center h-5 mt-3 mb-7">
               <%= f.check_box :remember_me, class: "w-4 h-4 border rounded  bg-gray-700 border-gray-600 ring-offset-gray-800 mr-2" %>

                <%= f.label :remember_me, class: "text-gray-300"%>
              </div>

            </div>
          <% end %>

          <div class="actions">
            <button class="w-full text-white hover:bg-indigo-500 focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center bg-indigo-600">

            <%= f.submit "Sign In", data: {turbo: false} %>
            </button>

          </div>
        <% end %>
        <p class="text-sm font-light text-gray-500 dark:text-gray-400">
          Don’t have an account yet?
          <%= link_to "Sign up", new_registration_path(resource_name), class: "font-medium hover:underline text-blue-600" %>
        </p>
      </div>
    </div>
  </div>
</div>
