<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Flower Store If" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/lavender.png" type="image/png">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="bg-gray-900">
  <section class="flex flex-col min-h-screen">


  <% if !devise_controller? %>
    <nav class="w-screen text-white bg-blue-900">
      <div class="max-w-screen-xl w-screen flex flex-wrap justify-between px-4 py-2 mx-auto">
        <ul class="flex space-x-4 items-center">
          <a href="/">
          <img src="/lavender.png" alt="logo img" style="max-height: 60px;" />
          </a>
        </ul>
        <ul class="flex space-x-4 items-center">
          <% if user_signed_in? %>
            <% if current_user && current_user.role == "admin" %>
              <%= link_to "Create New Flower", new_flower_path %>
           <% end %>
            <a href="/profile" data-turbo="false">Profile / Cart</a>
            <li>  <%= button_to destroy_user_session_path, method: :delete, class: 'btn btn-danger' do %>
                Log Out
              <% end %>
            </li>

          <% else %>
            <li><%= link_to 'Log In', new_user_session_path %></li>
          <% end %>
        </ul>
      </div>
    </nav>
  <% end %>
  <%= render partial: "shared/notifications", locals: {message: flash[:notice], type: flash[:type] || "success"} %>
    <main class="w-screen">
      <div class="max-w-screen-xl w-screen px-4 py-6 mx-auto text-white">


      <%= yield %>
        </div>
    </main>

  </section>

  </body>
</html>
